body {
  text-align: center;
  background-color: #FF6969;
  overflow: hidden;
}

h1 {
  font-size: 8rem;
  color: #FFF5E0;
  font-family: "Ribeye", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 8px 0 #C70039;
  margin-top: 50px;

}

.keys{
  position: absolute;
  top: 280px;
  left: 137px;
}

.catty {
  position: fixed;
  top: 15%;
  left: 5%;

}

.catty2{
  position: fixed;
  top: 15%;
  left: 60%;
}

.image{
  width: 26%;
  height: auto;
}

.w {
  background-image: url(crash.png);

}

.a {
  background-image: url(kick.png);

}

.s {
  background-image: url(snare.png);

}

.d {
  background-image: url(tom1.png);

}

.j {
  background-image: url(tom2.png);

}

.k {
  background-image: url(tom3.png);

}

.l {
  background-image: url(tom4.png);

}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 0 30px #FFF5E0;
  transform: scale(1.05);
  transition: all 0.2s ease;
}

.line {
  position: fixed;
      top: 13px;
      left: -159px;
      transform: rotate(120deg);
}



.red {
  color: red;
}
.drum {
  outline: none;
  border-top: 10px solid #141E46;
  border-right: 30px solid #141E46;
  border-bottom: 10px solid #141E46;
  border-left: 10px solid #141E46;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 5;
  font-weight: 900;
  color: #C70039;
  text-shadow: 4px 0 #FFF5E0;
  border-radius: 30px 50px 0 0;
  display: inline-block;
  width: 150px;
  height: 325px;
  text-align: center;
  margin: 2px;
  background-color: white;
}
